.container {
    justify-content: space-evenly;
}

section {
    background-color: #8AB9FF;
    border-radius: 30px;
    height: 70%;
    width: 50%;
    padding: 0 2%;
}

h2 {
    text-align: center;
}

.group img {
    width: 60%;
    margin: 20%;
    height: 100%;
}

form {
    height: 100%;
    margin: 0 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form input,
textarea {
    width: 100%;
}

label {
    display: block;
}

section button {
    background-color: white;
    border: none;
    border-radius: 30px;
}

@media (max-width: 720px) {
    .container {
        flex-direction: column;
        padding: 10% 0;
    }
    .group {
        height: 10%;
    }
    .group img {
        display: none;
    }
    section {
        width: 90%;
        height: 70%;
    }
}

.slide-in-blurred-top {
    -webkit-animation: slide-in-blurred-top 1.2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-top 1.2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}